<ul class="media-list"> <!--  投稿一覧 -->
  <% microposts.each do |micropost| %>
    <li class="media">
      <div class="media-left">
        <!--<img class="media-object img-rounded" src="<%= gravatar_url(micropost.user, options={ size: 50 }) %>" alt=""> -->
        <p><%= image_tag micropost.user.profile_image.url, size: "50x50" if micropost.user.profile_image? %></p>
      </div>
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">posted at <%= micropost.created_at %></span>
        </div>
        <div>
          <p>ワイン名： <%= micropost.bottle_name %></p>
          <p>生産者： <%= micropost.producer %></p>
          <p>生産地： <%= micropost.production_area %></p>
          <p>メモ： <%= micropost.content %></p>
          <!--<p>評価： <%= micropost.evaluation %></p>-->
          <p><%= image_tag micropost.image.url, size: "800x800" if micropost.image? %></p>
        </div>
        <div>
          <% if micropost.tag_list? %>
              <br>
              tag: 
              <br>
          <% end %>
              <span class="label label-info"><%= raw micropost.tag_list.map { |t| link_to "#"+" "+t, tag_path(t) }.join(' ') %></span>
              <br>
          <%= link_to 'お気に入り一覧', likes_user_path(micropost.user) %>
          <%= render 'favorites/favorite_button', micropost: micropost %>
        </div>
        <div>
          <% if current_user == micropost.user %>
              <%= link_to "　投稿を削除　", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
          <% end %>
        </div>
        <div id = "comment-micropost-<%= micropost.id.to_s %>">
          <%#= render 'comment_list', { micropost: @micropost } %>
        </div>
        <%= link_to time_ago_in_words(micropost.created_at).upcase + "前", micropost_path(micropost),
          class: "light-color micropost-time no-text-decoration" %>
        <hr>
        <div class="row actions" id="comment-form-micropost-<%= micropost.id.to_s %>">
          <%= form_for [micropost, Comment.new],remote: true, class: "w-100" do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :micropost_id, value: micropost.id %>
            <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "  コメント ...", autocomplete: :off %>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
  <%#= paginate microposts %>
</ul>
